.home {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

.cover {
  padding: 30px;
  height: 680px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

}

.coverImage {
  width: 580px;
  height: 420px;
  justify-self: center;
  align-self: center;
  animation: animate 5s ease-in-out infinite;
  transition: all is ease-in-out;
}

.profileText {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.naam {
  font-size: 130px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 2px;
}

.tagline {
  margin-top: 10px;
  font-size: 55px;
  padding: 5px 20px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  border-radius: 15px;
  background: linear-gradient(-45deg, #002b02, #033900e4, #002b02);
  margin-bottom: 5px;
}

.typewriter {
  font-size: 55px;
  font-weight: 800;
  text-align: center;
  color: #073300;
  border-radius: 15px;
  padding: 8px;
}


@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 30% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 5px;
}

.about img {
  height: 420px;
  width: 450px;
}

.abouttext {
  display: flex;
  margin: 25px;
  text-align: center;
  align-self: center;
  font-size: 18px;
  font-weight: 650;
  border: 2px green solid;
  padding: 20px;
  border-radius: 15px;
}

/* ----------------- */
.choose-us {
  background: linear-gradient(-45deg, #002b02, #033900e4, #002b02);
  margin-top: 35px;
  padding-bottom: 20px;
}

.choose-head {
  text-align: center;
  margin-bottom: 10px;
}

.choose-heading {
  font-size: 45px;
  font-weight: 800;
  color: white;
  padding: 15px;
  margin: 0px auto;
}

.choose-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  gap: 32px;
}

.choose-div {
  padding: 16px;
}

.choose-div-heading {
  font-size: 32px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-weight: 600;
  color: #ffffff;
}

.choose-icon {
  color: white;
  font-weight: 900;
  margin-right: 8px;
  font-size: 35px;
}

.choose-body {
  color: #e2ffdc;
  margin-top: -5px;
  font-weight: 500;
  font-size: 15px;
}


/* ----------------- */
.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.continue {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 20px;
  padding: 20px;
}

.getinvolve {
  text-align: center;
  align-self: center;
  color: #0a4927;
  grid-column: span 2;
  font-size: x-large;
  margin: 2px 4px;
  font-weight: 500;
}

.navButton {
  text-align: center;
  font-size: xx-large;
  align-self: center;
  font-weight: 800;
  color: rgb(0, 58, 10);
  padding: 30px;
  text-decoration: none;
  border: 2px green solid;
  border-radius: 20px;
}

.navButton:hover {
  background-color: #003c1c;
  color: white;
}

/*Gallery Section*/

.statheading {
  font-size: 35px;
  background-color: rgb(255, 255, 255);
  font-weight: 900;
  border: 3px green solid;
  padding: 10px;
  width: 95vw;
  border-radius: 50px;
  text-align: center;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}



.card {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: white;
  border: 2px green solid;
  flex-direction: column;
  margin: 8px;
  height: 185px;
  border-radius: 15px;
}

.title {
  text-align: center;
  margin-top: 15px;
  background: linear-gradient(-45deg, #002b02, #033900e4, #002b02);
  padding: 10px;
  width: 85%;

  border-radius: 10px;
  font-size: larger;
  font-weight: 800;

}

.total {
  margin-top: 10px;
  font-size: 70px;
  font-weight: 1000;
  color: rgb(0, 89, 33);
  justify-self: center;
}

@media screen and (max-width: 1140px) {
  .cover {
    height: 650px;
  }

  .choose-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .tagline {
    font-size: 45px;
  }

  .typewriter {
    font-size: 45px;
  }

  .coverImage {
    width: 475px;
    height: 315px;
  }

  .navButton {
    font-size: 35px;
    font-weight: 900;
    width: 45vw;
    padding: 7px;
  }
}

/*

  }*/

@media screen and (max-width: 780px) {

  .cover {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 12px;
    height:610px;
    margin-bottom: 10px;
  }

  .choose-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .coverImage {
    margin-top: 18px;
    width: 330px;
    height: 220px;
  }

  .naam {
    font-size: 100px;
  }

  .tagline {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 8px;
  }

  .typewriter {
    font-size: 35px;
  }

  .continue {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .navButton {
    font-size: 25px;
    font-weight: 900;
    width: 35vw;
    padding: 7px;
  }

  .stats {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .about-photo {
    width: 99vw;
    height: 35vh;
  }

  .donation-stats {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .card {
    background-color: rgb(240, 255, 244);
  }

  .numbers {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .about {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .about img {
    height: 300px;
    width: 350px;
  }
}