.testimonial-carousel-container {
  width: 100%;
  overflow-x: auto;
  padding: 10px 0px;
  scrollbar-width: none;
  scrollbar-color: white;
}

.testimonial-carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 400px;
  width: 85%;
  margin: 0px auto;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  scrollbar-color: white;
  padding-left: 180px;
  /* Hide scrollbar for Firefox */
  -ms-overflow-style: none;
  /* Hide scrollbar for IE and Edge */
}

.testimonial-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.testimonial-item {
  flex: 0 0 auto;
  height: 360px;
  width: 350px; 
  margin-right: 20px;
  /* Margin between cards */
  padding: 20px;
  background: linear-gradient(-45deg, #002b02, #033900e4, #002b02);
  /* Light greenish background */
  box-shadow: 1px 1px 5px green;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.left-comma,
.right-comma {
  font-size: 24px;
  color: rgb(160, 254, 139);
  /* Green color for commas */
}

.testimonial-feedback {
  margin: 12px 0;
  font-size: 16px;
  color: white;
  /* Dark text color */
}

.testimonial-info {
  color: white;
  /* Grayish text color */
}

.testimonial-name {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}

.testimonial-email {
  font-size: 18px;
  font-weight: 500;
  color: white;
  /* Lighter text color for email */
}


@media screen and (max-width: 880px) {
  .testimonial-carousel-wrapper {
    width: 95%;
    padding-left: 640px;
  }

}